/* .layout {
    display: flex;
  }
  .layout .layoutSideNavBar {
    flex-basis: 225px;
    flex-shrink: 0;
    transition: transform 0.15s ease-in-out;
    z-index: 1038;
    transform: translateX(-225px);
  }
  .layout .layoutSideContentBar {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 0;
    flex-grow: 1;
    min-height: calc(100vh - 56px);
    margin-left: -225px;
  } */